<div class="row">
  <div class="col-xs-12">
    <img [src]="motorcycle.imagePath" alt="{{ motorcycle.model }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ motorcycle.brand}} {{ motorcycle.model}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p> 
      Horse Power: {{ motorcycle.horsePower }} Hp - Torque {{ motorcycle.torque }} Nm
    </p>   
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown> 
      <p>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Motorcycle <span class="caret"></span>
        </button>
      </p>       
      <ul class="dropdown-menu">
        <li><a (click)="onAddToPriceList()" style="cursor: pointer;" >To Price List</a></li>
        <li><a style="cursor: pointer;" (click)= "onEditMotorcycle()">Edit Motorcycle</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteMotorcycle()">Delete Motorcycle</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{motorcycle.description}}</p>  
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Price: {{motorcycle.price.price}} EUR   
  </div>
</div>