<div class="row">
  <div class="col-xs-10">
    <div class="header">
      <h4>Price List</h4>
    </div>
    <ul class="list-group" *ngIf="prices.length > 0; else noPrice">
      <li class="list-group-item" 
      *ngFor="let price of prices; let i = index"
      [@liState]
      >
      {{ price.name }} - {{ price.price }} EUR
      <a class="text-danger" style="cursor: pointer; float: right; list-style: none;" (click) ="onDeleteItem(i)" >Delete</a>
    </li>
    </ul>
    <ng-template #noPrice>
      <p>Price List is Empty!</p>
    </ng-template> 
  </div>
</div>
